body {
    font-family: Fira Sans;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

}
h1{
    font-weight: 500;
}
nav {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    background: linear-gradient(90deg, #909CFF 0%, rgba(182, 190, 255, 0.00) 100%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_container {
    display: flex;
    gap: 1rem;
}

textarea {
    width: 532px;
    height: 230px;
    flex-shrink: 0;
}

#excelData {
    background-color: #EEEFF8;
    stroke-width: 1px;
    stroke: #D9D9D9;
}

#commaSeprated {
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #F7FFFE;
}

.container{
    margin-top: 7rem;
}
.input-container, .output-container{
   
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}
.convert{
    cursor: pointer;
    width: fit-content;
    margin-top: 1rem;
    outline: none;
    border: 1px solid black;
    background: transparent;
    font-size: 1.3rem;
    font-weight: bold;
    background: linear-gradient(90deg, #909CFF 0%, rgba(182, 190, 255, 0.00) 100%);;
    
    padding: 1rem;
    text-align: center;
}
.copy_Btn{
    cursor: pointer;
    width: fit-content;
    margin-top: 1rem;
    outline: none;
    border: 1px solid black;
    background: transparent;
    
    /* flex-shrink: 0; */
}
footer{
    text-align: center;
    background-color:  #A9B2FB;
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
}
span{
    color: #0063FB;
    font-family: Fira Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}