.ButtonInt{
    font-size: 18px;
    font-weight: 400;
    height: 55px;
    width: 60%;
    margin-top: 15px;
    line-height: 22.48px;
    font-family: 'Red Rose', sans-serif;

    
}
@media (max-width:700px){
    .ButtonInt{
        font-size: 14px;
        font-weight: 400;
        height:35px;
        width: 70%;
        margin-top: 10px;

    
        
    }
}
@media  (max-width:390px){
    .ButtonInt{
        width: 80%; 
    }    
}



